<div>
	<h3>What new books have you found?</h3>
	<form>
		<h4>Search By</h4>
		<label>Title:</label>
		<input type="text" name="title">
		<label>Author:</label>
		<input type="text" name="author">
		<label>ISBN:</label>
		<input type="text" name="isbn">
	</form>
</div>
<div>
	<!-- forEach the results of the search into  -->
</div>