<div>
	<h3>What new books have you found?</h3>
	<form method="get" action="/newbook">
		<label>Search By:</label>
		<input id="search" type="text" name="userinput" placeholder="Title, Author or ISBN">
		<input type="submit" value="Search">
	</form>
</div>
<div>
	<!-- forEach the results of the search into  -->

</div>