<div class="container">
	<!-- forEach the results of the search into  -->
	<ul class="list-group">
		<% books.docs.forEach(function(item){%>
			<li class="list-group-item">
				<p class="list-group-item-heading"><%-item.title%></p>
				<p class="list-group-item-text"><%-item.author_name%></p>
				<form method="post" action="/newbook">
					<input type="submit" name="Add Book" class="btn btn-success">
				</form>
			</li>
		<%});%>
	</ul>
</div>